.product {
  display: flex;
  align-self: auto;
  justify-content: space-between;
}
.product__info {
  flex: 1;
}

.quantity {
    /* position: relative; */
    /* bottom: 0; */
    flex: 2;
    margin: auto;
}
.quantity-input {
    width: 4em;
    height: 2em;
}
.purchase-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d80cc;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    flex: 1.5;
  }
  
  .purchase-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 20px;
  }
  
  .purchase-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .purchase-btn:hover span {
    padding-right: 25px;
  }
  
  .purchase-btn:hover span:after {
    opacity: 1;
    right: 0;
  }